html,
body {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

span {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#reference {
    color: #FFD240;
    background: #3772A5;
    padding: 0 25px;
    border-radius: 10px;
}

#helper {
    color: #3772A5;
    background: #FFD240;
    padding: 0 25px;
    border-radius: 10px;
}

.bubble {
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background: #f7f7f7;
    color: #3f3f44;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button:hover,
input[type=submit] {
    cursor: pointer;
}

button,
input[type=submit] {
    border: 0px;
    background: #f08a5d;
    color: #eeecda;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#cover {
    width: 100%;
    text-align: center;
}

#skulptForm {
    height: 25vh;
    display: inline-block;
}

textarea {
    padding: 10px;
    display: block;
    height: 25vh;
    width: 45vw;
    border: 0px;
    resize: none;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(179, 79, 79, 0.24);
}

#output {
    padding: 10px;
    display: inline-flex;
    margin: 0;
    width: 45vw;
    height: 25vh;
    vertical-align: top;
    background: black;
    color: white;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(179, 79, 79, 0.24);
}